<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id Funcion</th> 
                    <th>Precio Base</th> 
                    <th>Hora Inicio</th> 
                    <th>Hora Fin</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let funcion of funciones">
                    <td>{{funcion.id}}</td>
                    <td>{{funcion.precioBase}}</td>
                    <td>{{funcion.horaInicio}}</td>
                    <td>{{funcion.horaFin}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
