<img class= "center-block" src="https://i.pinimg.com/originals/2d/6b/c3/2d6bc3c655ab71af8a2564fac18878a2.jpg"
             width="1500"
            height="300" *ngIf="isList()" required>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row justify-content-center align-self-center">
                 <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()" *ngIf="isList()" required > Crear una nueva función</button>
            </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id Funcion</th>
                    <th>Precio Base</th> 
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let funcion of funciones" >
                 <td style="cursor: pointer;" (click)="onSelected(funcion.id)"> <dd>{{funcion.id}}</dd>
                </td>
                <td> {{funcion.precioBase|currency}}</td>
                <!--<td *ngxPermissionsOnly="['ADMIN']">-->
                <td>
                    <button class="btn btn-primary" (click)="showHideEdit(funcion.id)"><span class="fa fa-pencil"></span></button>
                </td>
                <!--<td *ngxPermissionsOnly="['ADMIN']">-->
                <td>
                    <button class="btn btn-danger" (click)="deleteFuncion(funcion.id)"><span class="fa fa-trash"></span></button>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="col-9">
        </div>
    </div>
            <div *ngIf="showView">
                <app-funcion-detail [funcionDetail]="selectedFuncion"></app-funcion-detail>
            </div>
            <div *ngIf="showCreate">
                <app-funcion-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-funcion-create>
            </div>
            <div *ngIf="showEdit">
                <app-funcion-edit [funcion]="selectedFuncion" (cancel)="showHideEdit(selectedFuncion.id)" (update)="updateFuncion()" ></app-funcion-edit>
            </div>
</div>