<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Duracion</th>
                   
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let bandaanuncio of bandaanuncios">
                    <td><button type="button" class="btn btn-outline-dark">{{bandaanuncio.id}}</button></td>
                     <td>{{bandaanuncio.duracion}}</td>
                    
                
                </tr>
            </tbody>
        </table>
    </div>
