<div class="container-fluid">
    <div class="col">
                <div class="row justify-content-center align-self-center">
            <!--<button type="button" class="btn btn-primary" routerLink="/calificaciones/add">Nueva calificacion</button>-->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Puntaje</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let cali of calificaciones">
                    <td  style="cursor: pointer;"><dd class="figure-caption" routerLink="/calificaciones/{{cali.id}}">
                {{cali.id}}</dd></td>
                    <td  style="cursor: pointer;"><dd class="figure-caption" routerLink="/calificaciones/{{cali.id}}">
                {{cali.puntaje}}</dd></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>