
<div class="col-md-12">
        <div class="card text-center">
  <div class="card-header">
   <h1>{{critico.nombres}} {{critico.apellidos}}</h1>
  </div>
  <div class="card-body" >
      <img src="https://image.freepik.com/icones-gratis/forma-masculina-usuario-em-um-circulo-ios-7-simbolo-de-interface_318-35357.jpg"
             width="200"
            height="200"><br/><br/>
      <b>{{critico.puntaje}}</b><br/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="stars-outer" >
          <div class="stars-inner"></div>
        </div>
    <h4 class="card-title">Información</h4>
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Identificación: </b></p> 
      </div>
        <div class="col-lg-2">
            <p  align="left">{{critico.identificacion}}</p> 
      </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Teléfono: </b></p>
      </div>
        <div class="col-lg-2">
            <p  align="left">{{critico.celular}}</p>
      </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Email: </b></p> 
      </div>
        <div class="col-lg-2">
            <p  align="left">{{critico.email}}</p>
      </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>NickName: </b></p>
      </div>
        <div class="col-lg-2">
            <p  align="left">{{critico.nickName}}</p>
      </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div> <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Credencial: </b></p>
      </div>
        <div class="col-lg-2">
            <p  align="left">{{critico.credencial}}</p>
      </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div><hr>
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  <div class="card-footer text-muted">
    Critico No. {{critico.id}}
  </div>
</div>

</div>

