<div class="container-fluid">
    <div class="col">
        <div class="row justify-content-center align-self-center">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Identificación</th>
                    <th>Opciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let critico of criticos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.id}}</dd>
                    </td> 
                    <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.nombres}}</dd>
                    </td>
                    <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.apellidos}}</dd>
                    </td>
                    <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.identificacion}}</dd>
                    </td>
                     <td  style="cursor: pointer;">
                         <button class="btn btn-primary" routerLink="/criticos/{{critico.id}}/edit"><span class="fa fa-pencil"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>