<!--<form class="form-inline my-2 my-lg-0">
                    <input id="typeahead-template" placeholder="Criticos" type="text" class="form-control" [(ngModel)]="model" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search" 
                    (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" #instance="ngbTypeahead"
                    [resultTemplate]="rt"[inputFormatter]="formatter">
                    
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="busqueda()">Buscar</button>
              </form>-->
<div class="container-fluid">
    <div class="col">
        <div class="row justify-content-center align-self-center">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Identificación</th>
                    <th>Editar</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let critico of criticos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.id}}</dd>
                    </td> 
                    <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.nombres}}</dd>
                    </td>
                    <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.apellidos}}</dd>
                    </td>
                    <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}">
                        {{critico.identificacion}}</dd>
                    </td>
                     <td  style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/criticos/{{critico.id}}/edit"><i class="fas fa-pen-square"></i></dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>