<div class="col-md-12">
    <div class="container-fluid"> 
        <br/>
        <br/>
        <h2><b>Id del teatro: </b> <font face="raro, courier">{{teatroDetail.id}}</font></h2>
        <font face="raro, courier"><b>Nombre: </b>{{teatroDetail.nombre}} <br/> </font>
        <font face="raro, courier"><b>Dirección: </b> {{teatroDetail.direccion}} <br/> </font>
        <font face="raro, courier"><b> Numero de salas para el festival: </b> {{festivalDetail.numSalasFest}}  <br/> </font>
        <div class="row border margin">
            <h5><font face="raro, courier"><b>Salas:</b> </font></h5>
            
        </div>
        <div class="row border margin">
            <h5><font face="raro, courier"><b>Funciones:</b> </font></h5>
           
        </div>
    </div>
</div>
