<div class="col-md-12">
    <div class="container-fluid"> 
        <br/>
        <br/>
        <h2><b>Id del teatro: </b> <font face="raro, courier">{{teatro.id}}<i class="fas fa-pen-square" style="cursor: pointer;" routerLink="/teatros/{{teatro.id}}/edit"></i></font></h2>
        <font face="raro, courier"><b>Nombre: </b>{{teatro.nombre}} <br/> </font>
        <font face="raro, courier"><b>Dirección: </b> {{teatro.direccion}} <br/> </font>

    </div>
</div>

 <div class="row" >
      <div class="col-lg-4">
        <h1>Salas</h1> 
        <p>Teatros que hacen parte del festival.</p>
       <app-sala-list></app-sala-list>
      </div>
      <div class="col-lg-4">
        <h1>Funciones</h1> 
        <p>Funciones que se presentan en el teatro</p>
        <app-funcion-list  ></app-funcion-list>
      </div>
 </div>
