<div class ="container-fluid">
    <div class ="col-md-2">
        <table class ="table table - striped">
            <thead class ="thead-dark">
                <tr>
                    <th> 
                        Nombres de usuario 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let usuario of usuarios">
                    <td>
                        {{usuario.nombres}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
                         
                        