<div class ="container-fluid">
    <div class ="col-md-2">
        <table class ="table table - striped">
            <thead class ="thead-dark">
                <tr>
                    <th> 
                       Id                        
                    </th>
                    <th> 
                       Nombres                         
                    </th>
                    <th> 
                       Apellidos                        
                    </th>
                    <th> 
                       Email                       
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let usuario of usuarios">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/usuarios/{{usuario.id}}"> {{usuario.id}} </dd>
                    </td>
                    <td> {{usuario.nombres}}</td>
                    <td>{{usuario.apellidos}} </td>
                    <td> {{usuario.email}} </td>
                </tr>
            </tbody>
        </table>
    </div>
                         
                        