<h2 align = "center"> <font face="impact" color="#66CCCC"> ¡Estos son nuestros usuarios! </font> </h2>


<div class ="container-fluid">
    <div style="text-align:center;" class ="col-md-2">
        <table align = "center" class ="table table - striped">
            <thead class ="thead-dark">
                <tr align="center">
                    <th> 
                       <font face="raro, courier" color="#CCFFCC">
                       Id    
                       </font>
                    </th>
                    <th> 
                      <font face="raro, courier" color="#CCFFCC">
                       Nombres 
                       </font>
                    </th>
                    <th> 
                       <font face="raro, courier" color="#CCFFCC">
                       Apellidos     
                       </font>
                    </th>
                    <th> 
                       <font face="raro, courier" color="#CCFFCC">
                       Email  
                       </font>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr align ="center" *ngFor = "let usuario of usuarios"
                    (click)="onSelected(usuario.id)">
                    <td style="cursor: pointer;">
            <dd class="figure-caption" routerLink="/usuarios/{{usuario.id}}"> <font face="raro, courier"> {{usuario.id}} </font></dd>
                    </td>
                    <td> <font face="raro, courier"> {{usuario.nombres}} </font></td>
                    <td> <font face="raro, courier">{{usuario.apellidos}}</font></td>
                    <td> <font face="raro, courier">{{usuario.email}}</font> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8">
            <div *ngIf="selectedUsuario">
                <app-usuario-detail [usuarioDetail]="selectedUsuario"></app-usuario-detail>
            </div>
    </div>
 </div> 
                         
                        