
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Numero</th>
                    <th>Tipo</th>
                    <th>Disponible</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let silla of sillas">
                   <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/sillas/{{silla.id}}">
                        {{silla.id}}</dd>
                    <td>{{silla.numero}}</td>
                    <td>{{silla.tipo}}</td>
                    <td>{{silla.disponible}}</td>
                    

                  
                </tr>
            </tbody>
        </table>
    </div>