<h2 align = "center"> <font color="#66CCCC"> ¡Estas son nuestras reservas! </font> </h2>
<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th> 
                     <th>Abono</th> 
                     <th>Descuento</th>
                     <th>PrecioTotal</th> 
                </tr>
            </thead>
            <tbody>
                <tr align ="center" *ngFor = "let reserva of reservas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/reservas/{{reserva.id}}"> {{reserva.id}} </dd>
                    </td>   
                    <td>{{reserva.abono}}</td>  
                     <td>{{reserva.descuento}}</td>  
                      <td>{{reserva.precioTotal}}</td>  
                </tr>
            </tbody>
        </table>
    </div>

