<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Patrocinador</th>
                    <th>Duracion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let festival of festivales">
                    <td> <button type= "button" class= "btn btn-outline-dark">{{festival.nombre}}</button></td>
                    <td>{{festival.patrocinador}}</td>
                    <td>{{festival.duracion}}</td>
                    <td>{{festival.fechaInicio}}</td>
                    <td>{{festival.fechaFin}}</td>
                    <td>{{festival.ciudad}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
