<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Direccion</th>
                    <th>Numero Salas Festival</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let teatro of teatros">
                    <td style="cursor: pointer;">
                    <dd class="figure-caption" routerLink="/teatros/{{teatro.id}}">
                    <td>{{teatro.id}}</td>
                    <td>{{teatro.nombre}}</td>
                    <td>{{teatro.direccion}}</td>
                    <td>{{teatro.numSalasFest}}</td>
                </tr>
            </tbody>
        </table>
    </div>
