<div class="col-md-12">
    <div class="container-fluid">   
        <h2><font face="raro, courier" color="#3399CC"> <b> Usuario: </b>  </font> <font face= "raro, courier">{{usuarioDetail.nombres}} {{usuarioDetail.apellidos}}  </font></h2>
        
        <img src="https://image.freepik.com/icones-gratis/forma-masculina-usuario-em-um-circulo-ios-7-simbolo-de-interface_318-35357.jpg"
             width="100"
            height="100">
        
        <h5> <font face="raro, courier" color="#3399CC"> <b>Información del usuario: </b></font></h5>
        <font face="raro, courier"> <b>Email: </b>{{usuarioDetail.email}} <br/> </font>   
        <font face="raro, courier"><b>Teléfono: </b> {{usuarioDetail.celular}} <br/> </font>
        <font face="raro, courier"><b>Identificación: </b> {{usuarioDetail.identificacion}} <br/> </font>
        <br>
        <div class="row border margin">
            <h5><font face="raro, courier"> <b>Reservas: </b> </font></h5>
            <list-reserva [reservas] = "usuarioDetail.reservas"></list-reserva>
        </div>
        <div class="row border margin">
            <h5><font face="raro, courier"><b>Calificaciones:</b> </font></h5>
            <!-- <app-reserva-list [reservas] ="usuarioDetail.reservas"></app-reserva-list> -->
        </div>
    </div>
</div>
