<div class="col-md-12">
     <br/>
    <div class="card text-center">
    <div class="card-header">
         <h1>{{usuarioDetail.nombres}} {{usuarioDetail.apellidos}}<font size="5"><i class="fas fa-pen-square" style="cursor: pointer;" routerLink="/usuarios/{{usuarioDetail.id}}/edit"></i></font></h1>
    </div>
     
    <div class="container-fluid">          
        <img src="https://image.freepik.com/icones-gratis/forma-masculina-usuario-em-um-circulo-ios-7-simbolo-de-interface_318-35357.jpg"
             width="100"
            height="100">
        <h4 class="card-title"><font color="#3399CC"> <b> Información </b></font></h4>
        
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Identificación: </b></p> 
        </div>
        <div class="col-lg-2">
            <p  align="left">{{usuarioDetail.id}}</p> 
        </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Email: </b></p> 
        </div>
        <div class="col-lg-2">
            <p  align="left">{{usuarioDetail.email}}</p> 
        </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>Teléfono: </b></p> 
        </div>
        <div class="col-lg-2">
            <p  align="left">{{usuarioDetail.celular}}</p> 
        </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div> 
    <div class="row">
        <div class="col-lg-2"></div><div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p  align="right"><b>No. Identificacion: </b></p> 
        </div>
        <div class="col-lg-2">
            <p  align="left">{{usuarioDetail.identificacion}}</p> 
        </div><div class="col-lg-2"></div><div class="col-lg-2"></div>
    </div> 
 
    <div class="row" >
      <div class="col-lg-5">
        <h1>Reservas</h1> 
        <p>Reservas del usuario</p>
        <p> ¿Con ánimos de reservar? <button class="btn btn-primary" [routerLink]="['reservas/add']">¡Reservar!</button></p>
        <router-outlet></router-outlet>
        <list-reserva [reservas] = "usuarioDetail.reservas"></list-reserva>
      </div>
      <div class="col-lg-5">
        <h1>Calificaciones</h1> 
        <p>Calificaciones que ha hecho el usuario.</p>
        <p> ¿Deseas calificar a un critico? <button class="btn btn-primary" [routerLink]="['calificaciones/add']">¡Califica!</button></p>
        <router-outlet></router-outlet>
        <app-calificacion-list [calificaciones] ="usuarioDetail.calificaciones"></app-calificacion-list>
      </div>
    </div>
        <br>
    </div>
</div>
</div>
