<div class="col-md-12">
    <div class="container-fluid">   
        <h2><font color="#CC0033">Usuario: </font> {{usuarioDetail.nombres}} {{usuarioDetail.apellidos}}</h2>
        
        <img src="https://image.freepik.com/icones-gratis/forma-masculina-usuario-em-um-circulo-ios-7-simbolo-de-interface_318-35357.jpg"
             width="100"
            height="100">
        
        <h5> <font color="#CC0033">Información del usuario:</font></h5>
        <b>Email: </b>{{usuarioDetail.email}} <br/>    
        <b>Teléfono: </b> {{usuarioDetail.celular}} <br/> 
        <b>Identificación: </b> {{usuarioDetail.identificacion}} <br/> 
        <br>
        <div class="row border margin">
            <h5>Reservas: </h5>
            <!--<app-reserva-list [reservas] ="usuarioDetail.reservas"></app-reserva-list>-->
        </div>
    </div>
</div>
