<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
      <font face = "impact" size = 40 color="#6600FF">¡Bienvenidos a Tarantino! </font>
  </h1>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="booksTag" class="nav-link" routerLink="/criticos/list"> <font face = "impact">Criticos </font></a>
    </li>
    <li class="nav-item">
        <a id="authorsTag" class="nav-link" routerLink="/funciones/list"> <font face = "impact">Funciones</font></a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/teatros/list"> <font face = "impact">Teatros</font></a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/usuarios/list"> <font face = "impact">Usuarios</font></a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/reservas/list"> <font face = "impact">Reservas</font></a>
    </li>
     <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/peliculas/list"><font face = "impact">Peliculas</font></a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/salas/list"><font face = "impact">Salas</font></a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/sillas/list"><font face = "impact">Sillas</font></a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/festivales/list"><font face = "impact">Festivales</font></a>
    </li>
    
</ul>
<router-outlet></router-outlet>


