<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="booksTag" class="nav-link" routerLink="/criticos/list">Criticos</a>
    </li>
    <li class="nav-item">
        <a id="authorsTag" class="nav-link" routerLink="/funciones/list">Funciones</a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/teatros/list">Teatros</a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/usuarios/list">Usuarios</a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/reservas/list">Reservas</a>
    </li>
     <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/peliculas/list">Peliculas</a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/salas/list">Salas</a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/sillas/list">Sillas</a>
    </li>
    <li class="nav-item">
        <a id="editorialTag" class="nav-link" routerLink="/festivales/list">Festivales</a>
    </li>
    
</ul>
<router-outlet></router-outlet>


