<div class="col-md-12">
    <div class="container-fluid">   
        <h2><font face="raro, courier" color="#3399CC"> <b>Id de la reserva: </b> </font> <font face="raro, courier">{{reservaDetail.id}}</font></h2>
        <br>
        <h5> <font face="raro, courier" color="#3399CC"><b>Información de la reserva: </b></font></h5>
        <font face="raro, courier"><b>Descuento aplicado: </b>{{reservaDetail.descuento}}% <br/> </font>
        <font face="raro, courier"><b>Total a pagar: </b> {{reservaDetail.precioTotal}}.000 COP <br/> </font>
        <div class="row border margin">
            <h5><font face="raro, courier"><b>Funciones:</b> </font></h5>
            <!-- <app-reserva-list [reservas] ="usuarioDetail.reservas"></app-reserva-list> -->
        </div>
        <div class="row border margin">
            <h5><font face="raro, courier"><b>Calificaciones:</b> </font></h5>
            <!-- <app-reserva-list [reservas] ="usuarioDetail.reservas"></app-reserva-list> -->
        </div>
    </div>
</div>
