<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h4 p-3">ID: {{reservaDetail.id}}</p>
        <br>
        <div class="row border margin">
            <p class="h4 p-3">Funciones: </p>
            <!-- <app-reserva-list [reservas] ="usuarioDetail.reservas"></app-reserva-list> -->
        </div>
        <div class="row border margin">
            <p class="h4 p-3">Calificaciones: </p>
            <!-- <app-reserva-list [reservas] ="usuarioDetail.reservas"></app-reserva-list> -->
        </div>
    </div>
</div>
