
<div class="container-fluid">
    <div class="table-responsive">
        <button type="button" class="btn btn-primary" routerLink="/peliculas/add">Nueva Pelicula</button>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Director</th>
                    <th>Creditos</th>
                    <th>Pais</th>
                    <th>Duracion</th>
                    <th>Puntaje</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let pelicula of peliculas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/peliculas/{{pelicula.id}}">
                        {{pelicula.id}}</dd>
                    </td> 
                    <td>{{pelicula.nombre}}</td>
                    <td>{{pelicula.director}}</td>
                    <td>{{pelicula.creditos}}</td>
                    <td>{{pelicula.pais}}</td>
                    <td>{{pelicula.duracion}}</td>
                  
                    <td>{{pelicula.puntaje}}</td>
                
                </tr>
            </tbody>
        </table>
    </div>
