<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" *ngFor = "let pelicula of peliculas">
             <figure class="figure" routerLink="/peliculas/{{pelicula.id}}" style="cursor: pointer;">
                 <div class="figure-thumbnal border-0">
                     <img class="img-fluid" src="https://is1-ssl.mzstatic.com/image/thumb/Video/d7/5c/d9/mzl.lniondsx.jpg/230x0w.jpg" alt="{{pelicula.nombre}}" />
                 </div>
                 <figcaption class="title-caption text-center">{{pelicula.nombre}}</figcaption>
            </figure>
        </div>
    </div>
</div>

<div  *ngIf="isList()" required>  
<tr *ngFor = "let pelicula of peliculas">
   
  
         <div class="container-fluid">
   <div class="row">
           <div class="row" style="background-color:white;"></div>
            <div class="col" style="background-color:white;"></div>
              <div class="card mb-4 shadow-sm">
              <h5> <font face="raro, courier" color="#3399CC"> <b>{{pelicula.nombre}} </b></font></h5>               <img src="https://is1-ssl.mzstatic.com/image/thumb/Video/d7/5c/d9/mzl.lniondsx.jpg/230x0w.jpg"
             width="500"
            height="500"  >
                <div class="card-body">
                    <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                                        
                      <button type="button" class="btn btn-sm btn-outline-secondary " routerLink="/peliculas/{{pelicula.id}}">Mas Informacion !</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      <p>                                                                         </p>
                  
                    </div>
                     <p align= "right" class="text-center">Duracion: {{pelicula.duracion}}</p>
                  </div>
                </div>
              </div>
           <div class="row" style="background-color:white;"></div>
            </div>
             </div>
         </div>
</div>
<div *ngIf="isList() == false" required>
          
          <div class="row">
              <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre pelicula</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let pelicula of peliculas" >
                <td style="cursor: pointer;"> 
                 <dd class="figure-caption" routerLink="/peliculas/{{pelicula.id}}">
                        {{pelicula.nombre}}</dd>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="col-9">
        </div>
    </div>
  </div>
</div>
