<div class="col-md-12">
    <div class="container-fluid"> 
        <br/>
        <br/>
        <h2><font face="raro, courier"><b>Nombre: </b>{{festival.nombre}} <br/> <i class="fas fa-pen-square" style="cursor: pointer;" routerLink="/festivales/{{festival.id}}/edit"></i></font></h2>
        <b>Id del festival: </b> <font face="raro, courier">{{festival.id}}<br/> </font>
        
        <font face="raro, courier"><b>Patrocinador: </b> {{festival.patrocinador}} <br/> </font>
        <font face="raro, courier"><b>Duración: </b> {{festival.duracion}} dias <br/> </font>
        <font face="raro, courier"><b>Fecha de inicio: </b> {{festival.fechaInicio | date:'dd/MM/yyyy'}} <br/> </font>
        <font face="raro, courier"><b>Fecha final: </b> {{festival.fechaFin | date:'dd/MM/yyyy'}} <br/> </font>
        <font face="raro, courier"><b>Ciudad: </b> {{festival.ciudad}} <br/> </font>
        <button type="button" class="btn btn-danger"  (click)="deleteFestival()" >Eliminar </button>
        
    </div>
</div>

 <div class="row" >
      <div class="col-lg-4">
                        <hr>
        <dt> Teatros</dt>                      
        <p class="h3 p-3">Teatros de este festival : </p>
        <app-teatro-list [teatros]="festival.teatros"></app-teatro-list>
                        <hr>
      <div class="col-lg-4">
        <h1>Criticos</h1> 
        <p>Criticos que van a participar en el festival.</p>
        <app-critico-list></app-critico-list>
      </div>
 </div>

