<div class="col-md-12">
    <div class="container-fluid"> 
        <br/>
        <br/>
        <h2><font face="raro, courier"><b>Nombre: </b>{{festival.nombre}} <br/> </font></h2>
        <b>Id del festival: </b> <font face="raro, courier">{{festival.id}}<br/> </font>
        
        <font face="raro, courier"><b>Patrocinador: </b> {{festival.patrocinador}} <br/> </font>
        <font face="raro, courier"><b>Duración: </b> {{festival.duracion}} dias <br/> </font>
        <font face="raro, courier"><b>Fecha de inicio: </b> {{festival.fechaInicio | date:'dd/MM/yyyy'}} <br/> </font>
        <font face="raro, courier"><b>Fecha final: </b> {{festival.fechaFin | date:'dd/MM/yyyy'}} <br/> </font>
        <font face="raro, courier"><b>Ciudad: </b> {{festival.ciudad}} <br/> </font>

    </div>
</div>

 <div class="row" >
      <div class="col-lg-4">
        <h1>Teatros</h1> 
        <p>Teatros que hacen parte del festival.</p>
       <app-teatro-list></app-teatro-list>
      </div>
      <div class="col-lg-4">
        <h1>Criticos</h1> 
        <p>Criticos que van a participar en el festival.</p>
        <app-critico-list></app-critico-list>
      </div>
 </div>
