<div class="col-md-12">
    <div class="container-fluid">
        <h1>{{critico.nombres}} {{critico.apellidos}}</h1>
        <h5> Critico número: {{critico.id}}</h5>
        <img src="https://image.freepik.com/icones-gratis/forma-masculina-usuario-em-um-circulo-ios-7-simbolo-de-interface_318-35357.jpg"
             width="100"
            height="100">
        <h5>  <b>Información del critico: </b></h5>
        <b>Identificación: </b> {{critico.identificacion}} <br/>
        <b>Teléfono: </b> {{critico.celular}} <br/>
        <b>Email: </b>{{critico.email}} <br/> 
        <b>NickName: </b>{{critico.nickName}} <br/>
         <b>Puntaje: </b>{{critico.puntaje}} <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5"><!--
    --><label for="radio1"><font size="6">★</font></label><!--
    --><input id="radio2" type="radio" name="estrellas" value="4"><!--
    --><label for="radio2"><font size="6">★</font></label><!--
    --><input id="radio3" type="radio" name="estrellas" value="3"><!--
    --><label for="radio3"><font size="6">★</font></label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
    --><label for="radio4"><font size="6">★</font></label><!--
    --><input id="radio5" type="radio" name="estrellas" value="1"><!--
    --><label for="radio5"><font size="6">★</font></label>
  </p><br/> 

         
          <b>Credencial: </b>{{critico.credencial}} <br/> 
          
        <br>
    </div>
</div>

