<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id Sala</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let sala of salas">
                    <!--<td style="cursor: pointer;" routerLink="/salas/{{sala.id}}">{{sala.id}}
                    </td>-->
                 <td>{{sala.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
