<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id Sala</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let sala of salas">
                    <td style="cursor: pointer;">
                        <dd routerLink="/salas/{{sala.id}}">{{sala.id}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
