<div class="container-fluid">
    <div class="col">
        <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear una nueva sala</button>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Numero Sala</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let sala of salas" >
                <td style="cursor: pointer;"> 
                <dd class="figure-caption" routerLink="/salas/{{sala.id}}">
                        {{sala.numero}}</dd>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="col-8">
            <div *ngIf="selectedSala">
                <app-sala-detail [salaDetail]="selectedSala"></app-sala-detail>
            </div> 
            <div *ngIf="showCreate">
                <app-sala-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-sala-create>
            </div>
        </div>
    </div>
</div>
