<body>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              <p id="titulo-card" class="card-title text-center">¡Bienvenido <b id="critico">Critico</b>!</p>
            <form name="critico" (ngSubmit)="f.form.valid && createCritico()" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="criticoNombres"><b>Nombres</b></label>
                  <input type="text" name="criticoNombres" class="form-control" id="criticoNombres" [(ngModel)]="critico.nombres" #criticoNombres="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoNombres.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta el nombre del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoApellidos"><b>Apellidos</b></label>
                  <input type="text" name="criticoApellidos" class="form-control" id="criticoApellidos" [(ngModel)]="critico.apellidos" #criticoApellidos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoApellidos.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta los apellidos del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoIdentificacion"><b>Identificación</b></label>
                  <input type="text" name="criticoIdentificacion" class="form-control" id="criticoIdentificacion" [(ngModel)]="critico.identificacion" #criticoIdentificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoIdentificacion.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta la identificación del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoCelular"><b>Celular</b></label>
                  <input type="text" name="criticoNombres" class="form-control" id="criticoCelular" [(ngModel)]="critico.celular" #criticoCelular="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoCelular.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta el celular del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoEmail"><b>Email</b></label>
                  <input type="email" name="criticoEmail" class="form-control" id="criticoEmail" [(ngModel)]="critico.email" #criticoEmail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoEmail.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta el Email del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoCredencial"><b>Credencial</b></label>
                  <input type="text" name="criticoCredencial" class="form-control" id="criticoCredencial" [(ngModel)]="critico.credencial" #criticoCredencial="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoCredencial.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta la credencial del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoNickName"><b>NickName</b></label>
                  <input type="text" name="criticoNickName" class="form-control" id="criticoNickName" [(ngModel)]="critico.nickName" #criticoNickName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoNickName.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta el Usuario del critico!</div></div>
            </div>
            <div class="form-group">
                  <label for="criticoPassword"><b>Password</b></label>
                  <input type="password" name="criticoPassword" class="form-control" id="criticoPassword" [(ngModel)]="critico.password" #criticoPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && criticoPassword.invalid }" required>
                         <div class="invalid-feedback"><div> ¡Falta la contraseña del critico!</div></div>
            </div>
                   <p align="center">¿Ya te encuentras registrado? Inicia sesion <a href="/usuarios/login">aquí</a></p>
                <p align="center">¿Deseas registrare como Usuario? Registrate <a href="/usuarios/add">aquí</a></p>
                  
                  <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block " type="submit">Registrarse</button>
              <button type="button" class="btn btn-danger btn-primary btn-block " routerLink="/criticos/list">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>