
<div class="col-md-12">
    <form name="calificacion" (ngSubmit)="f.form.valid && editCalificacion()" #f="ngForm" novalidate>
        <div class="card text-center">
  <div class="card-header">
      <h1>Actualizar Información de Calificacion <font size="5"></font></h1>
  </div>
  <div class="card-body" >
    <div class="row">
        <div class="col-lg-6">
            <p  align="right"><b>Puntaje: </b></p> 
      </div>
          <div class="col-lg-6">
              
              <input type="text" name="calificacionPuntaje" value="{{calificacion.puntaje}}" class="form-control" autofocus id="calificacionPuntaje" [(ngModel)]="calificacion.puntaje"
                                   #calificacionPuntaje="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionPuntaje.invalid }" required><span class="underline"></span>
                                   <div class="invalid-feedback">
                                <div>El critico debe tener un nombre</div>
                            </div>
                     
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
            <p  align="right"><b>Comentario: </b></p> 
      </div>
          <div class="col-lg-6">
              
              <textarea type="text-area" name="calificacionComentario" value="{{calificacion.comentario}}" class="form-control" id="calificacionComentario" [(ngModel)]="calificacion.comentario" #calificacionComentario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionComentario.invalid }" required></textarea>
                         <div class="invalid-feedback"><div> ¡Falta los apellidos del critico!</div></div>
                     
          </div>
      </div>
   <br>
    <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Edit</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" routerLink="/criticos/{{calificacion.id}}">Cancel</button>
            </div>
   <br>
</div>

</div>
</form>
