<div class="col-md-12">
    <div class="container-fluid">   
        <h2><font face="raro, courier" color="#3399CC"> <b> Silla: </b>  </font> <font face= "raro, courier">{{sillaDetail.number}} }  </font></h2>
        
        <img src="https://cdn.pixabay.com/photo/2014/12/21/23/40/theater-575816_1280.png"
             width="100"
            height="100">
        
        <h5> <font face="raro, courier" color="#3399CC"> <b>Informacion: </b></font></h5>
        <div class="row border margin">
            <h5><font face="raro, courier"> <b>Reserva: </b> </font></h5>
            <list-reserva [reservas] = "sillaDetail.reserva"></list-reserva>
        </div>
         <div class="row border margin">
            <h5><font face="raro, courier"> <b>Sala: </b> </font></h5>
            <list-sala [sala] = "sillaDetail.sala"></list-sala>
        </div>
        <br>

    </div>
</div>