<section _ngcontent-c11 id="header">

  <iframe width="100%" height="490" src="https://www.youtube.com/embed/FX20kcp7j5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section _ngcontent-c11 class="pb-3" id="movie">
    <div _ngcontent-c11 class="container" style="margin-top: -120px;">
        <div _ngcontent-c11 class="row">
            <div _ngcontent-c11 class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                <div _ngcontent-c11 class="img-container">
                    <span _ngcontent-c11 class="img" style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Video/d7/5c/d9/mzl.lniondsx.jpg/230x0w.jpg);">
                    </span>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                        </ng-template>

                    <ngb-rating class="d-inline-flex" role="slider" [starTemplate]="t" [readonly]="true" max="5" rate="{{pelicula.puntaje}}"></ngb-rating>
                    <p><b>Calificación:</b></p>
                    <p>{{pelicula.puntaje}}</p>
                </div>
            </div>
            <div _ngcontent-c11 class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                <h2 _ngcontent-c11>{{pelicula.nombre}}</h2>
                <div _ngcontent-c11 class="row">
                    <div _ngcontent-c11 class="col-x1-12">
                        <ul _ngcontent-c11 cass="info float-left alt">
                            <li _ngcontent-c11>{{pelicula.duracion}} Mins</li>
                            <li _ngcontent-c11>{{pelicula.pais}}</li>
                        </ul>
                    </div>
                    <div class="col-xl-6">
                        <p> {{pelicula.creditos}}</p>
                         <h5> <font face="raro, courier" color="#3399CC"> <b>Informacion: </b></font></h5>
                  <p class="card-text">Director: {{pelicula.director}}</p>
                  <p class="card-text">Pais de Origen: {{pelicula.pais}}</p>
                  <p class="card-text">Director: {{pelicula.director}}</p>
                  <p class="card-text">Creditos: {{pelicula.creditos}}</p>
                  
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"  routerLink="/peliculas/list" [queryParams]="{allPeliculas: 'yes'}" >Volver a la lista de Peliculas</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/reservas/list">Reservar</button>
                    </div>
                    </div>
                    
                   
                </div>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</section>
