
<p class="h3 p-3">Pelicula: {{peliculaDetail.name}}</p>
<p class="h3 p-3">{{peliculaDetail.name}}<p> 
        <div class="row">
            <div class="col-md-3">
               
            </div>
            <div class="col-md-3">
                <dl>     
                    <dt>Creditos</dt>
                    <dd>{{peliculaDetail.creditos}}</dd>
                    <dt>Pais</dt>
                    <dd>{{peliculaDetail.pais}}</dd>
                </dl>
            </div>           
        </div>