<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        
        <form name="reserva" (ngSubmit)="f.form.valid && createReserva()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="reservaAbono"><b>¿Abono?</b></label>
                <input type="checkbox" name="reservaAbono" class="form-control" id="reservaAbono" [(ngModel)]="reserva.abono">              
            </div>
            <div class="form-group">
                    <label for="reservaFuncion"><b>Función</b></label>
                    <select class="custom-select" name="reservaFuncion" id="reservaFuncion" [(ngModel)]="reserva.funciones"
                        #reservaFuncion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reservaFuncion.invalid }"
                        required>
                        <option [value]="funcion.id" *ngFor="let funcion of funciones">{{funcion.id}}</option>
                        <option> Opcion de prueba</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>Es necesario escoger una función</div>
                    </div>
            </div>           
            <div class="form-group">
                <label for="reservaDescuento"><b>Descuento aplicado</b></label>
                <input type="text" name="reservaDescuento" class="form-control" id="reservaDescuento" [(ngModel)]="reserva.descuento"
                    #reservaDescuento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reservaDescuento.invalid }" required>
                <div class="invalid-feedback">
                    <div>¡Debe decirnos si hay descuento!</div>
                </div>
            </div>
            <div class="form-group">
                <label for="reservaPrecioTotal"><b>Total a pagar</b></label>
                <input type="text" name="reservaPrecioTotal" class="form-control" id="reservaPrecioTotal" [(ngModel)]="reserva.precioTotal"
                    #reservaPrecioTotal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reservaPrecioTotal.invalid }" required>
                <div class="invalid-feedback">
                    <div>¡Falta el total a pagar!</div>
                </div>
            </div>
            
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" routerLink="/reservas/list">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
